*{ 
    margin: 0px;
    padding: 0px;

    
}


body {
    background-color:#fbdef5
}

#rectangle {
    margin-top: 10%;
    border: 20px double #c49799;
    width: 600px;
    height: 700px;
    background-color: #f9e0e0;
    margin-left: 400px;
    border-radius: 20%;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  #rec2 {
    margin-top: 200px;

    display:flex;
    justify-content: center;
    align-items: center;
  }

  


.love {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(11, 10, 10);
    height: 10px;
    padding: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
   

}

.sparkle {
    height: 500px;
    width: 1200px;
    margin-left: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 8%;
    border: 20px solid rgb(241, 128, 201);
}

#usersName {
    margin: 50px;
    margin-left: 55px;
    height: 20px;
    width: 200px;
    border-radius: 30px;
}

#crushName {
    margin: 10px;
    height: 20px;
    width: 200px;
    border-radius: 30px; 
}


/* .lovecal { */

/* border: 10px solid #c49799;
border-radius: 30%;
width: 1000px;
border-left: 20px;
border-right: 20px;
margin-left: 430px; */




/* } */

.yuh {
    display: flex;
    margin-right: 90px;
}



.p1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    margin-left: 100px;

}
.percent1 {

    width: 150px;
    height: 200px;
    display:flex;
   justify-content: center;
  align-items: center;
    
}

#button1 {
    display: block;
  float: left;
  position: relative;
  text-decoration: none;
  color: #333;
  border: 3px solid #c49799;
  padding: 20px 30px;
  margin: 40px;
  background-color: white;

}

#button1:hover {
    background-color:pink;

}

#button1:active {
    background-color: rgb(165, 210, 174);
   
    transform: translateY(1px);
}

#button1:after {
content: '';
  border: 3px solid #697745;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  color: #f6ebeb;
  white-space:nowrap;
}

.hearts {
    height: 300px;
    display: block;
   margin-left: auto;
   margin-right: auto;
   width: 30%;
    

}
#getFortune {
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    color: #333;
    border: 3px solid #c49799;
    padding: 20px 30px;
    margin: 40px;
    background-color: white;

}

#getFotune:hover {
    background-color: pink;
}

#getFortune:active {
    background-color: rgb(165, 210, 174);
   
    transform: translateY(1px);
}

.fortune10 {
    display: flex;
    justify-content: center;
    align-items:center;
}



#getFortune:after{

    content: '';
    border: 3px solid #697745;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    color: #f6ebeb;
    white-space:nowrap; 

}

#section2 {
    font-style: initial;
}

.h3 {
    font-size: x-large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 5%;
}

.rec4 {
    margin-top: 8%;
    border: 5px dashed #697745;
    border-radius: 20px;
    width: 1000px;
    margin-left: 15%;

}



#gemini {
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    color: #333;
    border: 3px solid #c49799;
    padding: 20px 30px;
    margin: 40px;
    background-color: white;
   
    
}

#gemini:after {
    content: '';
    border: 3px solid #697745;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    color: #f6ebeb;
    white-space:nowrap;
}
#taurus{
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    color: #333;
    border: 3px solid #c49799;
    padding: 20px 30px;
    margin: 40px;
    background-color: white;
}
#taurus:after {
    content: '';
    border: 3px solid #697745;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    color: #f6ebeb;
    white-space:nowrap;
}
#aries{
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    color: #333;
    border: 3px solid #c49799;
    padding: 20px 30px;
    margin: 40px;
    background-color: white;
}
#aries:after {
    content: '';
    border: 3px solid #697745;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    color: #f6ebeb;
    white-space:nowrap;
}
#cancer {
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    color: #333;
    border: 3px solid #c49799;
    padding: 20px 30px;
    margin: 40px;
    background-color: white;
}

#cancer:after {
    content: '';
    border: 3px solid #697745;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    color: #f6ebeb;
    white-space:nowrap;
}
#leo{
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    color: #333;
    border: 3px solid #c49799;
    padding: 20px 30px;
    margin: 40px;
    background-color: white;
}
#leo:after {
    content: '';
    border: 3px solid #697745;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    color: #f6ebeb;
    white-space:nowrap;
}
#virgo{
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    color: #333;
    border: 3px solid #c49799;
    padding: 20px 30px;
    margin: 40px;
    background-color: white;
}
#virgo:after {
    content: '';
    border: 3px solid #697745;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    color: #f6ebeb;
    white-space:nowrap;
}

#libra{
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    color: #333;
    border: 3px solid #c49799;
    padding: 20px 30px;
    margin: 40px;
    background-color: white;
}
#libra:after {
    content: '';
    border: 3px solid #697745;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    color: #f6ebeb;
    white-space:nowrap;
}
#scorpio{
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    color: #333;
    border: 3px solid #c49799;
    padding: 20px 30px;
    margin: 40px;
    background-color: white;
}

#scorpio:after {
    content: '';
    border: 3px solid #697745;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    color: #f6ebeb;
    white-space:nowrap;
}

#sagittarius{
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    color: #333;
    border: 3px solid #c49799;
    padding: 20px 30px;
    margin: 40px;
    background-color: white;
}

#sagittarius:after {
    content: '';
    border: 3px solid #697745;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    color: #f6ebeb;
    white-space:nowrap;
}

#capricorn{
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    color: #333;
    border: 3px solid #c49799;
    padding: 20px 30px;
    margin: 40px;
    background-color: white;
}

#capricorn:after {
    content: '';
    border: 3px solid #697745;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    color: #f6ebeb;
    white-space:nowrap;
}
#aquarius{
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    color: #333;
    border: 3px solid #c49799;
    padding: 20px 30px;
    margin: 40px;
    background-color: white;

}

#aquarius:after {
    content: '';
    border: 3px solid #697745;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    color: #f6ebeb;
    white-space:nowrap;
}

#pisces{
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    color: #333;
    border: 3px solid #c49799;
    padding: 20px 30px;
    margin: 40px;
    background-color: white;
}
#pisces:after {
    content: '';
    border: 3px solid #697745;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    color: #f6ebeb;
    white-space:nowrap;
}

.zozo {
    display:flex;
    flex-direction: column;
    justify-content: center;
    
    
    

}

.h2{
    margin-top: 5%;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-right: 50px;
    margin-left: 50px;
}